
/*Resultado 1*/

#diez_de_diamantes{
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1;
}

#sota_de_diamantes{
    position: absolute;
    top: 165px;
    left: 165px;
    z-index: 2;
}

#reina_de_diamantes{
    position: absolute;
    top: 180px;
    left: 180px;
    z-index: 3;
}

#rey_de_diamantes{
    position: absolute;
    top: 195px;
    left: 195px;
    z-index: 4;
}

#as_de_diamantes{
    position: absolute;
    top: 210px;
    left: 210px;
    z-index: 5;
}


/*Resultado 2*/

/*
#diez_de_diamantes{
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 5;
}

#sota_de_diamantes{
    position: absolute;
    top: 165px;
    left: 165px;
    z-index: 4;
}

#reina_de_diamantes{
    position: absolute;
    top: 180px;
    left: 180px;
    z-index: 3;
}

#rey_de_diamantes{
    position: absolute;
    top: 195px;
    left: 195px;
    z-index: 2;
}

#as_de_diamantes{
    position: absolute;
    top: 210px;
    left: 210px;
    z-index: 1;
}

*/




